.login-container{
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgb(223, 223, 223);
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
    width: 24rem;
    margin: auto;
    
    margin-top: 6rem;
}
h1{
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
#login-form{
    display: grid;
    gap: 10px;
}
.form-group{
    display: grid;
    gap: 10px;
}
.button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-top: 10px;
}
.link{
    display: flex;
    justify-content: flex-end;
}
a{
    outline: none;
    color: black;
    font-size: small;
}
button{
    width: 85px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: black;
    color: white;
    text-align: center;
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    
}
.register{
    margin-bottom: 1rem;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 5px;
    outline: none;
}
.error{
    font-size: 10px;
    color: red;
    margin-top: -7px;
    letter-spacing: 1px;
}

@media (max-width : 400px){
.login-container{
    width: 16rem;
    margin-top: 2rem;
}
}